streamlit
jupyter
ipython
pandas
numpy
requests
beautifulsoup4
openai
langchain-core 
langchain-community 
langchain-openai 
langchainhub 
langchain_text_splitters
unstructured
python-docx
IProgress
tqdm
nltk
scikit-learn
seaborn
matplotlib
transformers
torch